body {
    background: white !important;
}
.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #444;
    padding-top: 6rem;
  }
  
  /* Title & Intro */
  .about-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #222;
  }
  
  .about-intro {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #555;
  }
  
  /* Sections */
  .about-content {
    margin-bottom: 40px;
  }
  
  .about-section {
    margin-bottom: 30px;
  }
  
  .about-section h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .about-section p,
  .about-section ul {
    font-size: 1rem;
    color: #666;
  }
  
  .about-section ul {
    padding-left: 20px;
  }
  
  .about-section ul li {
    margin-bottom: 5px;
  }

  @media (max-width: 520px) {
    .about-title {
      font-size: 1.5rem !important;
    }
    .about-intro {
      font-size: 0.8rem !important;
    }

    .about-section h3 {
      font-size: 1.3rem !important;
    }

    .about-section p,
  .about-section ul {
    font-size: 0.8rem !important;
  }
  }